body{
    background-image: url(../images/BG-image.jpeg);
    background-repeat: no-repeat;
    background-position-x: -400px;
    background-size: 200vh;
}
header{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header>h1{
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

header>h2{
    color: white;
    font-weight: 300;
    font-size: 0.7em;
    margin-top: 2vh;
    padding-bottom: 1.4vh;
    border-bottom: white solid;
    border-bottom-width: 1px;
    width: 70%;
}

.description-container{
    width: 80%;
    max-width: 300px;
    font-size: 4vw;
}

.continue-btn{
    width: 40vw;
}

.cars-section{
    background-color: azure;
}